<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    
    <div class="container specs-container">
        <% docs.forEach(function(item){ %>
          <div class="row specs-row">
              <span class="material-icons span-unchecked specs-check">radio_button_unchecked</span>
              <input type="text" value= '<%= item.task %>' class="form-control specs-item" >
              <!-- <a href="/edit/<%= item._id %>"> <%= item.task %> </a> -->
              <a href="/edit/<%= item._id %>" class="specs-edit"> <span class="material-icons">mode_edit</span> </a>
              <a href="/delete/<%= item._id %>" class="specs-delete"><span class="glyphicon glyphicon-trash "></span></a>
              
          </div>
        <% }) %>
        <div class="row specs-input">
          <div class="col-sm-12">
            <form>
              <input type="text" id="tsk" name="task" placeholder="Insert new task" class="form-control">
              <button type="submit" name="insert-button" id="insert-btn" class="btn btn-success">Insert</button>
            </form>
          </div>
        </div>
    </div>

    <a href="/new">Insert new item</a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>