<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(item){ %>
        <li>
          <a href="/edit/<%= item._id %>">
            <%= item.task %>
          </a>
          <a href="/delete/<%= item._id %>" 
            onclick="return confirm('Tem certeza que deseja excluir?');">
            X
          </a>
        </li>
      <% }) %>
    </ul>
    <hr />
    <a href="/new">Insert new item</a>
  </body>
</html>